{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block content %}
<div class="container">
    <form method="post" action="{% url 'confrim' %}" class="createticketform" enctype="multipart/form-data">
        
            <h3 class="h3-text-shadow">Confirm your issue </h3>
             {% csrf_token %}
        
        {{form| as_bootstrap}}
            <button type="submit" class="btn btn-success nav-font  btn-small">Confirm Issue</button>
        </form>
        
    </div>
{% endblock %}