{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    
  
  <div class="container">
      <div class="row">
     
      
      <div class="col-md-8">
          <div>
          <h4>{{ticket.title}} #{{ticket.id}}</h4>
           {{ticket.status}}<strong> {{ticket.author}} </strong> <p>created this issue on {{ticket.date_create}}</p>
      </div>
   </div>
   <div class="col-md-4">
       <a class="nav-font" href="{% url 'add_tickets' %}"><button class="btn btn-success btn-small">Add Issue</button></a>
   </div>
   </div>
   
   {{ticket_comment.comment}}
   
   <div class="row">
       <div class="col-md-6">
           {{ticket.author}}
       </div>
       <div class="col-md-6">
           
   {{ticket.description}}
    
   </div>
   </div>
  
  {% for comments in ticket.comments.all %}
   {{comments.comment}}
   {% endfor %}
   
        <form method="POST" >
        {% csrf_token %}
        {{commentbox}}
        <button type="submit" class="btn btn-info btn-small">Comment</button>
    </form>
   
    
    </div>
{% endblock %}