{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{publishableKey}}';
   // ]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}


 <script src="https://js.stripe.com/v3/"></script>
<div class="container">
  <div class="np-margin-top">
<form action="{% url 'checkout' %}" method="post" id="payment-form" class="col-md-6 col-md-offset-3" style="background-color:gainsboro;">
    {% csrf_token %}
  <div class="form-row">
    <label for="card-element" class="font-icon">
      Credit or debit card
    </label>
    <div id="card-element" class="StripeElement">
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
  <p style="color:grey; font-weight:700;"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2 euro for fix your issue</p>
 
 <div class="margin-left-checkout">
   <button class="btn btn-success nav-font">  Submit Payment</button>
  </div>
  <br>
</form>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p style="color:grey; font-weight:700;">Advantage of paying for High Priority you will get immediate response from us and you can see how many views you got for your issue and you can edit your issue whenever you want.
 Thank you for helping us to improve our site</p>
  </div>
</div>
 
</div>
<script>
    // Create a Stripe client.
var stripe = Stripe('pk_test_xFNOKBT1FgQqRGHWguS5fW6L');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

</script>
{% endblock %}