{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block content %}
<div class="row">
    
        {% if user.is_authenticated %}
         {% else %}
         <div class="col-xs-7 col-xs-offset-3 col-md-6 col-md-offset-3 h3-title-welcome-page">
          <div>
              <h2 class="h4-side-font">Problem Solver</h2>
              <span><h5 class="color-font">Resolve your issues and help us improve</h5></span>
              <hr>
              <p class="para-title-page">Welcome to Problem Solver a community-driven site where you can report bugs or request features, and give funding to get an immediate response.</p>
          </div>
          </div>
         {% endif %}
    
</div>
<section class="container-fluid">
  {% if user.is_authenticated %}
<div class="row">
<form action="{% url 'search' %}" method="get" class=" col-xs-12 col-md-7 col-md-offset-2" style="background-color: #b9b9b9;">
    <h6 style="font-size: 18px;color: beige;font-weight: 600;">Hi {{user}} how can we help you</h6>
                <input type="search" class="search-form" name="q" placeholder="Search issues" style="border: 1px solid #9e9e9e;background-color: white;font-size: 15px;font-weight: 600;"/>
                <a class="nav-font float-button text-decoration-black" href="{% url 'add_tickets' %}" style="text-decoration: none;color: black;">or create Issue</a>
                </form>
                </div>
                {% endif %}
                <div class="row">
                    {% if user.is_authenticated %}
                <div class="col-xs-12 col-md-4">
                    <div class="font-title-head-title">
                    <h5 class="h5-font-title-text">Currently Working Progression</h5>
                    </div>
                    <div class="col-md-8-title-border">
                    <canvas id="myChart" width="50%"  ></canvas>
                    </div>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                 <div class="col-xs-12 col-md-8  col-xs-md-width-title col-xs-md-margin-title" >
                    <div class="font-title-head-title">
                        <h5 class="h5-font-title-text">Recently Added Issues and features</h5>
                    </div>
                    {% for ticket in tickets %}
                    <div class="col-md-8-title-border">
                        
                    {% if ticket.type == "Bug" %}
                    <div>
                    <span class="float-para  mobile-view-padding"><i class="material-icons">bug_report</i></span>
                    </div>
                    {% else %}
                    <div>
                    <span class="float-para  mobile-view-padding"><i class="material-icons">lightbulb_outline</i></span>
                    </div>
                    {% endif %}
                    <div>
                    <a class="link-title-decoration" style="text-decoration: none;color: black;" href="{% url 'show_tickets' ticket.id  %}">{{ticket.title}}</a>
                   <span class="float-button">
                        {% if ticket.status == "New" %}
                         <p class="float-button status-new-font" >is:{{ticket.status}}</p>
                         {% endif %}
                        {% if ticket.status == "Under_review" %}
                         <p class="float-button status-under-review-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Declined" %}
                         <p class="float-button status-declined-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Needs_more_info" %}
                         <p class="float-button status-needs-more-info-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Planned" %}
                         <p class="float-button status-planned-font" >is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "In_Progress" %}
                         <p class="float-button status-in-progress-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Completed" %}
                         <p class="float-button status-completed-font">is:{{ticket.status}}</p> 
                        {% endif %}
                    </span>
                    </div>
                   
                    <p class="id-padding">#{{ticket.id}} <span>Created on {{ticket.date_create.date}}</span> <span class="author-title-font-size">by {{ticket.author}}</span></p>
                    </div>
                    
                    {% endfor %}
                </div>
                {% else %}
                
       
       
                
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-xs-md-width-title" >
                    <div class="font-title-head-title">
                        <h5 class="h5-font-title-text">Recently Added Issues and features</h5>
                    </div>
                    {% for ticket in tickets %}
                    <div class="col-md-8-title-border">
                        
                    {% if ticket.type == "Bug" %}
                    <div>
                    <span class="float-para  mobile-view-padding"><i class="material-icons">bug_report</i></span>
                    </div>
                    {% else %}
                    <div>
                    <span class="float-para  mobile-view-padding"><i class="material-icons">lightbulb_outline</i></span>
                    </div>
                    {% endif %}
                    <div>
                    <a class="link-title-decoration" style="text-decoration: none;color: black;" href="{% url 'show_tickets' ticket.id  %}">{{ticket.title}}</a>
                   <span class="float-button">
                        {% if ticket.status == "New" %}
                         <p class="float-button status-new-font" >is:{{ticket.status}}</p>
                         {% endif %}
                        {% if ticket.status == "Under_review" %}
                         <p class="float-button status-under-review-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Declined" %}
                         <p class="float-button status-declined-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Needs_more_info" %}
                         <p class="float-button status-needs-more-info-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Planned" %}
                         <p class="float-button status-planned-font">is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "In_Progress" %}
                         <p class="float-button status-in-progress-font" >is:{{ticket.status}}</p>
                         {% endif %}
                        {%  if ticket.status == "Completed" %}
                         <p class="float-button status-completed-font">is:{{ticket.status}}</p> 
                        {% endif %}
                    </span>
                    </div>
                   
                    <p class="id-padding">#{{ticket.id}} <span>Created on {{ticket.date_create.date}}</span> <span class="author-title-font-size">by {{ticket.author}}</span></p>
                    </div>
                    
                {% endfor %}    
                </div>
                
                
   
                {% endif %}
                
   </section>
   
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["Weekly", "Monthly", "Yearly"],
        datasets: [{
            label: "Issues we solving",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [5,20,125],
        }]
    },
    
    // Configuration options go here
    options: {}
});
</script> 
   
            
       
    
{% endblock %}