{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-logo-padding h3-font-size">
        <a href="{% url 'index' %}"><img src="{{MEDIA_URL}}img/ps.png" width=70px></img></a>
    </div>
    <h3 class="h3-font-size h3-text-shadow">Login to PS</h3>
    </div>
    </div>
    <div class="form-margin">
    <div class="row ">
    <form method="POST" class="col-md-12 form-property">
        {% csrf_token %}
        
        {{ form | as_bootstrap}}
        <button type="submit" class="btn btn-success btn-small nav-font button-font">Login</button>
        <br>
    </form>
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-12">
        <p class="extras-p">New to PS?<a style="text-decoration:none;"class="nav-font" href="{% url 'register' %}">Create an account</p></a>
    </div>
    </div>
    </div>
</body>
</html>
{% endblock %}