{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-logo-padding h3-font-size">
        <a href="{% url 'index' %}"><img src="http://static1.squarespace.com/static/5975f7cde58c628c613fe7b6/t/59762d21db29d6a05c69becd/1500917032802/PS+LOGO+no+background.png?format=1000w" width=70px></img></a>
    </div>
    <h3 class="h3-font-size">Login to PS</h3>
    </div>
    </div>
    <div class="row form-margin">
    <form method="POST" class="col-md-12 form-property">
        {% csrf_token %}
        
        {{ form | as_bootstrap}}
        <button type="submit" class="btn btn-success btn-small nav-font button-font">Login</button>
        <br>
    </form>
    
    </div>
    <br>
    <div class="row">
    <div class="col-md-12">
        <p class="extras-p">New to PS?<a class="nav-font" href="{% url 'register' %}">Create an account</p></a>
    </div>
    </div>
    </div>
</body>
</html>
{% endblock %}