{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 ">
        <h1  class="h3-font-size h3-text-shadow">Edit Profile</h1>
        <hr>
      </div>
    </div>
    
  
       <div class="row">
          <form enctype="multipart/form-data" action="{% url 'editProfile' %}" method="POST" name="edit_user_profile" class="col-md-6 col-md-offset-4 ">
            <div  class="form-group">
     <label for="id_username" class="control-label">Username:</label>
       <input type="text" name="username" class="form-input  form-control"  value="{{user.username}}" required  maxlength="150" 
       style="border: 2px solid #ada7a7;background-color: white; width: 70%;border-radius: 6px;height: 32px;" />
          <span class="helptext"><h6>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</h6></span>
          <br>
             <label for="id_password" class="control-label">Password:</label> <br>
                <span class="helptext">Raw passwords are not stored, so there is no way to see this user's password, but you can change the password using <a href="../password/">this form</a>.</span>
                         <br>
                        <br>
                          <label for="id_email" class="control-label ">Email address:</label>
                          <input type="email" name="email" class="form-control" value="{{user.email}}"  maxlength="254"
                          style="border: 2px solid #ada7a7;background-color: white; width: 70%;border-radius: 6px;height: 32px;" 
                          />
        <hr>
        </div>
        <div  class="form-group">
     {{bio_form|as_bootstrap}}
    </div>
    <button class="btn btn-success nav-font " type="submit">Upload and save</button>
    {% csrf_token %}
</form>  
       </div>
        
   
    
    </div>
{% endblock %}