{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
    
  
  <div class="container">
    <h4  class="h3-font-size">Create your  account</h4>
    <div class="row form-margin">
        <form method="POST" class="col-md-12 form-property">
        {% csrf_token %}
        
        {{ registration_form | as_bootstrap}}
        <button type="submit" class="btn btn-success btn-small nav-font margin-auto">create an account</button>
    </form>
     </div>      
       
        
   
    
    </div>
{% endblock %}