{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
    
  
  <div class="container">
    <h4  class="h3-font-size h3-text-shadow">Create your  account</h4>
    <div class="form-margin ">
    <div class="row ">
        <form method="POST" class="col-md-12 form-property">
        {% csrf_token %}
        
        {{ registration_form | as_bootstrap}}
        <button type="submit" class="btn btn-success btn-small nav-font margin-auto">create an account</button>
    </form>
     </div>      
       </div>
        <br>
    <div class="row">
    <div class="col-md-12">
        <p class="extras-p">Already have a account?<a style="text-decoration:none;" class="nav-font" href="{% url 'login' %}">Sign In</p></a>
    </div>
    </div>
   
    
    </div>
{% endblock %}