{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    
  
  <div class="container profile-container">
        <div class="row profile-background">
          <div class="col-md-4 margin-auto">
             {% if user.profile.image %}
        <img class="img-rounded photo" src="{{user.profile.image.url}}" width="40%">
        {% else %}
    
    <img class="img-rounded photo" src="{{MEDIA_URL}}img/dummy-user.png" width="40%" ></img> 
        {% endif %}
        {% if user.profile.location %}
               <p class="font-p"> <i class="material-icons">location_on</i> {{user.profile.location}} </p>
            
            {% endif %}
            <br>
        
        <a class="btn btn-small nav-font button-font  btn-background-des "href="{% url 'editProfile' %}">Edit Profile</a>
          </div>
          <div class="profile-container">
          <div class="col-md-4">
           <div class="font-p">
             <p class="font-p">{{ user }}</p>
             <p class="paragraph-font">{{ user.email }}</h5>
             <hr>
           </div>
         
             <p class=""><i class="material-icons">restore</i> Member from {{user.date_joined.date}}</p>
        
         </div>
       </div>
       
     
    
    </div>
{% endblock %}